<!-- templates/comparison.html -->
{% extends "base.html" %}
{% block content %}
<h1>Real World vs Simulator Comparison</h1>
<table>
    <tr>
        <th>Aspect</th>
        <th>Real Quantum Computer</th>
        <th>Simulator</th>
    </tr>
    <tr>
        <td>Noise</td>
        <td>Present due to environmental factors</td>
        <td>Can be simulated or ignored</td>
    </tr>
    <tr>
        <td>Scalability</td>
        <td>Limited by current technology</td>
        <td>Limited by classical computing power</td>
    </tr>
    <!-- Add more rows for other comparison aspects -->
</table>
{% endblock %}
